.tableHeader {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: right;
  }
  
  .tableCell {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: right;
  }
  